.gallery {
  overflow: hidden;

  &__title-wrap {
    @include wrap-desktop;
    padding-top: 78px;
    padding-left: 124px;
    display: flex;
    justify-content: space-between;
  }

  &__decoration-title {
    @include decoration-title-desktop;
    margin: 0;
  }

  &__title {
    @include title-desktop;
    margin: -47px 0 0 0;
  }

  &__description {
    margin: 22px 0 44px;
    width: 700px;
    font-family: $montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &__buttons-container {
    display: flex;
    justify-content: space-between;
    width: 79px;
    margin-top: 90px;
  }

  &__button-previous {
    @include button-slider;
  }

  &__button-next {
    @include button-slider;
    transform: rotate(180deg);
  }

  &__list {
    @include list-default;
    display: flex;
    width: 100%;
    transition: transform 1s;
  }

  &__item {
    display: block;
    min-width: 19.1%;
    margin-right: 0.4%;
    min-height: 449px;
  }

  &__item:nth-child(5n) {
    margin-right: 0;
  }

  &__item-img {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__item-2,
  &__item-4 {
    min-width: 20.7%;
    position: relative;
    margin-right: 0.35%;
  }

  &__item-3 {
    min-width: 18.9%;
  }

  &__top-img-container {
    min-height: 179px;
    margin-bottom: 1.6%;
  }

  &__list--no-js {
    flex-wrap: wrap;

    .gallery__item {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: $desktop-width) {
  .gallery {
    &__title-wrap {
      padding-top: calc(78 / #{$vw-desktop} * 100vw);
      padding-left: calc(124 / #{$vw-desktop} * 100vw);
      padding-right: calc(120 / #{$vw-desktop} * 100vw);
    }

    &__decoration-title {
      font-size: calc(55 / #{$vw-desktop} * 100vw);
      line-height: calc(67 / #{$vw-desktop} * 100vw);
    }

    &__title {
      font-size: calc(35 / #{$vw-desktop} * 100vw);
      line-height: calc(43 / #{$vw-desktop} * 100vw);
      margin: calc(-47 / #{$vw-desktop} * 100vw) 0 0;
    }

    &__description {
      margin: calc(22 / #{$vw-desktop} * 100vw) 0 calc(44 / #{$vw-desktop} * 100vw);
      width: calc(700 / #{$vw-desktop} * 100vw);
      font-size: calc(16 / #{$vw-desktop} * 100vw);
      line-height: calc(24 / #{$vw-desktop} * 100vw);
    }

    &__buttons-container {
      width: calc(79 / #{$vw-desktop} * 100vw);
      margin-top: calc(90 / #{$vw-desktop} * 100vw);
    }

    &__button-previous,
    &__button-next {
      width: calc(37 / #{$vw-desktop} * 100vw);
      height: calc(35 / #{$vw-desktop} * 100vw);
    }

    &__item {
      min-width: calc(275 / #{$vw-desktop} * 100vw);
      margin-right: calc(6 / #{$vw-desktop} * 100vw);
      min-height: calc(449 / #{$vw-desktop} * 100vw);
    }

    &__item-2,
    &__item-4 {
      min-width: calc(298 / #{$vw-desktop} * 100vw);
      margin-right: calc(5 / #{$vw-desktop} * 100vw);
    }

    &__item-3 {
      min-width: calc(272 / #{$vw-desktop} * 100vw);
    }

    &__top-img-container {
      min-height: calc(179 / #{$vw-desktop} * 100vw);
      margin-bottom: calc(5 / #{$vw-desktop} * 100vw);
    }
  }
}

@media (max-width: $tablet-width) {
  .gallery {
    &__title-wrap {
      padding-top: calc(91 / #{$vw-tablet} * 100vw);
      padding-left: calc(110 / #{$vw-tablet} * 100vw);
      padding-right: calc(110 / #{$vw-tablet} * 100vw);
    }

    &__decoration-title {
      font-size: calc(40 / #{$vw-tablet} * 100vw);
      line-height: calc(49 / #{$vw-tablet} * 100vw);
    }

    &__title {
      font-size: calc(25 / #{$vw-tablet} * 100vw);
      line-height: calc(30 / #{$vw-tablet} * 100vw);
      margin: calc(-35 / #{$vw-tablet} * 100vw) 0 0;
    }

    &__description {
      margin: calc(26 / #{$vw-tablet} * 100vw) 0 calc(35 / #{$vw-tablet} * 100vw);
      width: calc(390 / #{$vw-tablet} * 100vw);
      font-size: calc(14 / #{$vw-tablet} * 100vw);
      line-height: calc(21 / #{$vw-tablet} * 100vw);
    }

    &__buttons-container {
      width: calc(79 / #{$vw-tablet} * 100vw);
      margin-top: calc(96 / #{$vw-tablet} * 100vw);
    }

    &__button-previous,
    &__button-next {
      width: calc(37 / #{$vw-tablet} * 100vw);
      height: calc(35 / #{$vw-tablet} * 100vw);
    }

    &__item {
      min-width: calc(275 / #{$vw-tablet} * 100vw);
      margin-right: calc(6 / #{$vw-tablet} * 100vw);
      min-height: calc(449 / #{$vw-tablet} * 100vw);
    }

    &__item-2,
    &__item-4 {
      min-width: calc(298 / #{$vw-tablet} * 100vw);
      margin-right: calc(5 / #{$vw-tablet} * 100vw);
    }

    &__item:nth-child(5n) {
      margin-right: calc(6 / #{$vw-tablet} * 100vw);
    }

    &__item-3 {
      min-width: calc(272 / #{$vw-tablet} * 100vw);
    }

    &__top-img-container {
      min-height: calc(179 / #{$vw-tablet} * 100vw);
      margin-bottom: calc(5 / #{$vw-tablet} * 100vw);
    }
  }
}

@media (max-width: $mobile-width) {
  .gallery {
    &__title-wrap {
      @include wrap-mobile;
      padding-top: 43px;
      align-items: flex-end;
      margin-bottom: 32px;
    }

    &__title-block {
      position: relative;
      width: 60.7%;
    }

    &__decoration-title {
      @include decoration-title-mobile;
      position: absolute;
      left: 0;
      top: -9px;
    }

    &__title {
      @include title-mobile;
      margin: 0 0 17px 0;
    }

    &__description {
      margin: 0;
      width: 100%;
      font-size: 14px;
      line-height: 21px;
    }

    &__buttons-container {
      width: 79px;
      margin: 0 0 7px 0;
    }

    &__button-previous,
    &__button-next {
      @include button-slider;
    }

    &__item {
      min-width: calc(158 / #{$vw-mobile} * 100vw);
      margin-right: calc(3.5 / #{$vw-mobile} * 100vw);
      min-height: calc(259 / #{$vw-mobile} * 100vw);
    }

    &__item-2,
    &__item-4 {
      min-width: calc(172 / #{$vw-mobile} * 100vw);
      margin-right: calc(3.5 / #{$vw-mobile} * 100vw);
    }

    &__item-3 {
      min-width: calc(158 / #{$vw-mobile} * 100vw);
    }

    &__item:nth-child(5n) {
      margin-right: calc(3.5 / #{$vw-mobile} * 100vw);
    }

    &__top-img-container {
      min-height: calc(103 / #{$vw-mobile} * 100vw);
      margin-bottom: calc(3 / #{$vw-mobile} * 100vw);
    }
  }
}
