.tours {
  padding-top: 54px;
  padding-bottom: 89px;

  &__wrap {
    @include wrap-desktop;
  }

  &__item-img-mobile {
    display: none;
  }

  &__title-block {
    display: flex;
    justify-content: space-between;
  }

  &__decoration-title {
    @include decoration-title-desktop;
    margin: 0;
  }

  &__title {
    @include title-desktop;
    margin: -48px 0 0 0;
  }

  &__buttons-container {
    display: flex;
    justify-content: space-between;
    width: 79px;
    margin: 34px 2px 43px 0;
  }

  &__button-previous {
    @include button-slider;
  }

  &__button-next {
    @include button-slider;
    transform: rotate(180deg);
  }

  &__list {
    @include list-default;
    display: flex;
  }

  &__item {
    position: relative;
    width: 385px;
    min-height: 412px;
    padding: 206px 21px 20px;
    margin-right: 21px;
    margin-bottom: 20px;
  }

  &__item:nth-child(3n) {
    margin-right: 0;
  }

 &__item-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
 }

 &__description-item {
    display: flex;
    align-items: center;
 }

 &__location {
    display: block;
    width: 114.5px;
    color: $white-color;
    font-family: $montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    background-color: $blue-color;
    text-align: center;
    position: relative;
    padding: 7px 0 6px 12px;
    margin-right: 32px;

    &::before {
      content: "";
      position: absolute;
      width: 9px;
      height: 12px;
      background: url("../img/geolocation.svg") no-repeat center;
      top: 9px;
      left: 22px;
    }
  }

  &__item-altai .tours__location {
    &::before {
      left: 26px;
    }
  }

  &__item-adugeya .tours__location {
    &::before {
      left: 20px;
    }
  }

  &__time-days {
    color: $white-color;
    font-family: $montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    padding-left: 25px;
    margin-right: 35px;

    &::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      background: url("../img/day.svg") no-repeat center;
      top: -3px;
      left: -3px;
    }
  }

  &__item-altai .tours__time-days,
  &__item-adugeya .tours__time-days {
    margin-right: 25px;

    &::before {
      left: -5px;
    }
  }

  &__time-nights {
    color: $white-color;
    font-family: $montserrat;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    padding-left: 25px;

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background: url("../img/moon.svg") no-repeat center;
      top: -3px;
      left: 0;
    }
  }

  &__title-item {
    color: $white-color;
    font-family: $montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    width: 242px;
    margin: 23px 0 34px;
  }

  &__item-adugeya .tours__title-item {
    margin: 21px 0 36px -2px;
  }

  &__parameters-title {
    color: $white-color;
    font-family: $montserrat;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    display: block;
    margin-bottom: 2px;
  }

  &__date,
  &__counts {
    color: $white-color;
    font-family: $montserrat;
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
  }

  &__rating {
    display: flex;
    margin-top: 8px;
  }

  &__star {
    display: block;
    width: 15px;
    height: 14px;
    margin-right: 0.7px;
    background: url("../img/star-empty.svg") no-repeat center;
  }

   &__star--active {
    background: url("../img/star-full.svg") no-repeat center;
   }

   &__parameters {
    display: flex;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 79px;
      height: 1px;
      background: $white-color;
      opacity: 0.28;
      top: -18px;
    }
   }

   &__hard-block {
    margin-right: 44px;
   }

   &__date-block {
    margin-right: 50px;
   }

   &__all-tours-link {
    color: #2D383F;
    font-family: $montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    display: block;
    margin: 40px auto 0;
    width: 220px;
    position: relative;
    padding-right: 20px;

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 9px;
      height: 9px;
      transform: rotate(45deg);
      border-right: 2px solid #2D383F;
      border-top: 2px solid #2D383F;
      right: 2px;
      top: 5px;
    }

    &:hover,
    &:focus {
      opacity: 0.7;
    }
   }
}

.no-js {
  flex-wrap: wrap;
}

@media (max-width: $desktop-width) {
  .tours {
    padding-top: calc(54/#{$vw-desktop} * 100vw);
    padding-bottom: calc(89/#{$vw-desktop} * 100vw);

  &__wrap {
    padding: 0 calc(120/#{$vw-desktop} * 100vw);
  }

  &__decoration-title {
    font-size: calc(55/#{$vw-desktop} * 100vw);
    line-height: calc(67/#{$vw-desktop} * 100vw);
  }

  &__title {
    font-size: calc(35/#{$vw-desktop} * 100vw);
    line-height: calc(43/#{$vw-desktop} * 100vw);
    margin: calc(-48/#{$vw-desktop} * 100vw) 0 0 0;
  }

  &__buttons-container {
    width: calc(79/#{$vw-desktop} * 100vw);
    margin: calc(34/#{$vw-desktop} * 100vw) calc(2/#{$vw-desktop} * 100vw) calc(43/#{$vw-desktop} * 100vw) 0;
  }

  &__button-previous,
  &__button-next {
    width: calc(37/#{$vw-desktop} * 100vw);
    height: calc(35/#{$vw-desktop} * 100vw);
  }

  &__item {
    width: calc(385/#{$vw-desktop} * 100vw);
    min-height: calc(412/#{$vw-desktop} * 100vw);
    padding: calc(206/#{$vw-desktop} * 100vw) calc(21/#{$vw-desktop} * 100vw) calc(20/#{$vw-desktop} * 100vw);
    margin-right: calc(21/#{$vw-desktop} * 100vw);
    margin-bottom: calc(20/#{$vw-desktop} * 100vw);
  }

 &__location {
    width: calc(114.5/#{$vw-desktop} * 100vw);
    font-size: calc(14/#{$vw-desktop} * 100vw);
    line-height: calc(17/#{$vw-desktop} * 100vw);
    padding: calc(7/#{$vw-desktop} * 100vw) 0 calc(6/#{$vw-desktop} * 100vw) calc(12/#{$vw-desktop} * 100vw);
    margin-right: calc(32/#{$vw-desktop} * 100vw);

    &::before {
      width: calc(9/#{$vw-desktop} * 100vw);
      height: calc(12/#{$vw-desktop} * 100vw);
      top: calc(9/#{$vw-desktop} * 100vw);
      left: calc(22/#{$vw-desktop} * 100vw);
      background-size: contain;
    }
  }

  &__item-altai .tours__location {
    &::before {
      left: calc(26/#{$vw-desktop} * 100vw);
    }
  }

  &__item-adugeya .tours__location {
    &::before {
      left: calc(20/#{$vw-desktop} * 100vw);
    }
  }

  &__time-days {
    font-size: calc(12/#{$vw-desktop} * 100vw);
    line-height: calc(15/#{$vw-desktop} * 100vw);
    padding-left: calc(25/#{$vw-desktop} * 100vw);
    margin-right: calc(35/#{$vw-desktop} * 100vw);

    &::before {
      width: calc(22/#{$vw-desktop} * 100vw);
      height: calc(22/#{$vw-desktop} * 100vw);
      top: calc(-3/#{$vw-desktop} * 100vw);
      left: calc(-3/#{$vw-desktop} * 100vw);
      background-size: contain;
    }
  }

  &__item-altai .tours__time-days,
  &__item-adugeya .tours__time-days {
    margin-right: calc(25/#{$vw-desktop} * 100vw);

    &::before {
      left: calc(-5/#{$vw-desktop} * 100vw);
    }
  }

  &__time-nights {
    font-size: calc(12/#{$vw-desktop} * 100vw);
    line-height: calc(15/#{$vw-desktop} * 100vw);
    padding-left: calc(25/#{$vw-desktop} * 100vw);

    &::before {
      width: calc(20/#{$vw-desktop} * 100vw);
      height: calc(20/#{$vw-desktop} * 100vw);
      top: calc(-3/#{$vw-desktop} * 100vw);
      background-size: contain;
    }
  }

    &__title-item {
      font-size: calc(24/#{$vw-desktop} * 100vw);
      line-height: calc(29/#{$vw-desktop} * 100vw);
      width: calc(242/#{$vw-desktop} * 100vw);
      margin: calc(23/#{$vw-desktop} * 100vw) 0 calc(34/#{$vw-desktop} * 100vw);
    }

    &__item-adugeya .tours__title-item {
      margin: calc(21/#{$vw-desktop} * 100vw) 0 calc(36/#{$vw-desktop} * 100vw) calc(-2/#{$vw-desktop} * 100vw);
    }

    &__parameters-title {
      font-size: calc(12/#{$vw-desktop} * 100vw);
      line-height: calc(15/#{$vw-desktop} * 100vw);
      margin-bottom: calc(2/#{$vw-desktop} * 100vw);
    }

    &__parametres {
      &::before {
        width: calc(79/#{$vw-desktop} * 100vw);
        top: calc(-18/#{$vw-desktop} * 100vw);
      }
    }

    &__date,
    &__counts {
      font-size: calc(13/#{$vw-desktop} * 100vw);
      line-height: calc(21/#{$vw-desktop} * 100vw);
    }

    &__rating {
      margin-top: calc(8/#{$vw-desktop} * 100vw);
    }

    &__star {
      width: calc(15/#{$vw-desktop} * 100vw);
      height: calc(14/#{$vw-desktop} * 100vw);
      margin-right: calc(0.7/#{$vw-desktop} * 100vw);
      background-size: contain;
    }

   &__hard-block {
    margin-right: calc(44/#{$vw-desktop} * 100vw);
   }

   &__date-block {
    margin-right: calc(50/#{$vw-desktop} * 100vw);
   }

   &__all-tours-link {
    font-size: calc(16/#{$vw-desktop} * 100vw);
    line-height: calc(20/#{$vw-desktop} * 100vw);
    margin: calc(40/#{$vw-desktop} * 100vw) auto 0;
    width: calc(220/#{$vw-desktop} * 100vw);
    padding-right: calc(20/#{$vw-desktop} * 100vw);

    &::before {
      width: calc(9/#{$vw-desktop} * 100vw);
      height: calc(9/#{$vw-desktop} * 100vw);
      border-right: calc(2/#{$vw-desktop} * 100vw) solid #2D383F;
      border-top: calc(2/#{$vw-desktop} * 100vw) solid #2D383F;
      right: calc(2/#{$vw-desktop} * 100vw);
      top: calc(5/#{$vw-desktop} * 100vw);
    }
   }
  }
}

@media (max-width: $tablet-width) {
  .tours {
    padding-top: calc(68/#{$vw-tablet} * 100vw);
    padding-bottom: calc(120/#{$vw-tablet} * 100vw);

  &__wrap {
    padding: 0;
    overflow: hidden;
    max-width: 100%;
  }

  &__title-block {
    @include wrap-tablet;
    padding-left: calc(112/#{$vw-tablet} * 100vw);
    padding-right: calc(110/#{$vw-tablet} * 100vw);
  }

  &__decoration-title {
    font-size: calc(40/#{$vw-tablet} * 100vw);
    line-height: calc(49/#{$vw-tablet} * 100vw);
  }

  &__title {
    font-size: calc(25/#{$vw-tablet} * 100vw);
    line-height: calc(30/#{$vw-tablet} * 100vw);
    margin: calc(-35/#{$vw-tablet} * 100vw) 0 0 0;
  }

  &__buttons-container {
    width: calc(79/#{$vw-tablet} * 100vw);
    margin: calc(12/#{$vw-tablet} * 100vw) 0 calc(54/#{$vw-tablet} * 100vw) 0;
  }

  &__button-previous,
  &__button-next {
    width: calc(37/#{$vw-tablet} * 100vw);
    height: calc(35/#{$vw-tablet} * 100vw);
  }

  &__list {
    width: 100%;
    margin-left: calc(112/#{$vw-tablet} * 100vw);
  }

  &__item {
    min-width: calc(385/#{$vw-tablet} * 100vw);
    min-height: calc(412/#{$vw-tablet} * 100vw);
    padding: calc(206/#{$vw-tablet} * 100vw) calc(21/#{$vw-tablet} * 100vw) calc(20/#{$vw-tablet} * 100vw);
    margin-right: calc(21/#{$vw-tablet} * 100vw);
    margin-bottom: calc(20/#{$vw-tablet} * 100vw);
  }

  &__item:nth-child(3n) {
    margin-right: calc(21/#{$vw-tablet} * 100vw);
  }

 &__location {
    width: calc(114.5/#{$vw-tablet} * 100vw);
    font-size: calc(14/#{$vw-tablet} * 100vw);
    line-height: calc(17/#{$vw-tablet} * 100vw);
    padding: calc(7/#{$vw-tablet} * 100vw) 0 calc(6/#{$vw-tablet} * 100vw) calc(12/#{$vw-tablet} * 100vw);
    margin-right: calc(32/#{$vw-tablet} * 100vw);

    &::before {
      width: calc(9/#{$vw-tablet} * 100vw);
      height: calc(12/#{$vw-tablet} * 100vw);
      top: calc(9/#{$vw-tablet} * 100vw);
      left: calc(22/#{$vw-tablet} * 100vw);
    }
  }

  &__item-altai .tours__location {
    &::before {
      left: calc(26/#{$vw-tablet} * 100vw);
    }
  }

  &__item-adugeya .tours__location {
    &::before {
      left: calc(20/#{$vw-tablet} * 100vw);
    }
  }

  &__time-days {
    font-size: calc(12/#{$vw-tablet} * 100vw);
    line-height: calc(15/#{$vw-tablet} * 100vw);
    padding-left: calc(25/#{$vw-tablet} * 100vw);
    margin-right: calc(35/#{$vw-tablet} * 100vw);

    &::before {
      width: calc(22/#{$vw-tablet} * 100vw);
      height: calc(22/#{$vw-tablet} * 100vw);
      top: calc(-3/#{$vw-tablet} * 100vw);
      left: calc(-3/#{$vw-tablet} * 100vw);
    }
  }

  &__item-altai .tours__time-days,
  &__item-adugeya .tours__time-days {
    margin-right: calc(25/#{$vw-tablet} * 100vw);

    &::before {
      left: calc(-5/#{$vw-tablet} * 100vw);
    }
  }

  &__time-nights {
    font-size: calc(12/#{$vw-tablet} * 100vw);
    line-height: calc(15/#{$vw-tablet} * 100vw);
    padding-left: calc(25/#{$vw-tablet} * 100vw);

    &::before {
      width: calc(20/#{$vw-tablet} * 100vw);
      height: calc(20/#{$vw-tablet} * 100vw);
      top: calc(-3/#{$vw-tablet} * 100vw);
    }
  }

    &__title-item {
      font-size: calc(24/#{$vw-tablet} * 100vw);
      line-height: calc(29/#{$vw-tablet} * 100vw);
      width: calc(242/#{$vw-tablet} * 100vw);
      margin: calc(23/#{$vw-tablet} * 100vw) 0 calc(34/#{$vw-tablet} * 100vw);
    }

    &__item-adugeya .tours__title-item {
      margin: calc(21/#{$vw-tablet} * 100vw) 0 calc(36/#{$vw-tablet} * 100vw) calc(-2/#{$vw-tablet} * 100vw);
    }

    &__parameters-title {
      font-size: calc(12/#{$vw-tablet} * 100vw);
      line-height: calc(15/#{$vw-tablet} * 100vw);
      margin-bottom: calc(2/#{$vw-tablet} * 100vw);
    }

    &__parametres {
      &::before {
        width: calc(79/#{$vw-tablet} * 100vw);
        top: calc(-18/#{$vw-tablet} * 100vw);
      }
    }

    &__date,
    &__counts {
      font-size: calc(13/#{$vw-tablet} * 100vw);
      line-height: calc(21/#{$vw-tablet} * 100vw);
    }

    &__rating {
      margin-top: calc(8/#{$vw-tablet} * 100vw);
    }

    &__star {
      width: calc(15/#{$vw-tablet} * 100vw);
      height: calc(14/#{$vw-tablet} * 100vw);
      margin-right: calc(0.7/#{$vw-tablet} * 100vw);
    }

   &__hard-block {
    margin-right: calc(44/#{$vw-tablet} * 100vw);
   }

   &__date-block {
    margin-right: calc(50/#{$vw-tablet} * 100vw);
   }

   &__all-tours-link {
    font-size: calc(16/#{$vw-tablet} * 100vw);
    line-height: calc(20/#{$vw-tablet} * 100vw);
    margin: calc(22/#{$vw-tablet} * 100vw) auto 0;
    width: calc(220/#{$vw-tablet} * 100vw);
    padding-right: calc(20/#{$vw-tablet} * 100vw);

    &::before {
      width: calc(9/#{$vw-tablet} * 100vw);
      height: calc(9/#{$vw-tablet} * 100vw);
      border-right: calc(2/#{$vw-tablet} * 100vw) solid #2D383F;
      border-top: calc(2/#{$vw-tablet} * 100vw) solid #2D383F;
      right: calc(2/#{$vw-tablet} * 100vw);
      top: calc(5/#{$vw-tablet} * 100vw);
    }
   }
  }
}

@media (max-width: $mobile-width) {
  .tours {
    padding-top: 46px;
    padding-bottom: 109px;

  &__wrap {
    @include wrap-mobile;
  }

  &__item-img {
    display: none;
  }

  &__item-img-mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
  }

  &__title-block {
    padding: 0;
    margin: 0;
    position: relative;
  }

  &__decoration-title {
    @include decoration-title-mobile;
    position: absolute;
    left: 0;
    top: -6px;
    width: 300px;
  }

  &__title {
    @include title-mobile;
    margin: 0;
  }

  &__title-wrap {
    width: 55.7%;
  }

  &__buttons-container {
    width: 79px;
    margin: 13px 0 28px;
  }

  &__button-previous,
  &__button-next {
    @include button-slider;
  }

  &__list {
    width: 100%;
    margin-left: 0;
  }

  &__item {
    width: 100%;
    min-height: 412px;
    padding: 160px 4px 20px 8px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  &__item:nth-child(3n) {
    margin-right: 0;
  }

  &__description-item {
    flex-wrap: wrap;
  }

  &__location {
    width: 114.5px;
    font-size: 14px;
    line-height: 17px;
    padding: 7px 0 6px 12px;
    margin-top: 31px;
    margin-right: calc(100% - 114.5px);
    order: 2;

    &::before {
      width: 9px;
      height: 12px;
      top: 9px;
      left: 22px;
    }
  }

  &__item-altai .tours__location {
    &::before {
      left: 26px;
    }
  }

  &__item-adugeya .tours__location {
    &::before {
      left: 20px;
    }
  }

  &__time-days {
    font-size: 12px;
    line-height: 15px;
    padding-left: 29px;
    margin-right: 34px;

    &::before {
      width: 22px;
      height: 22px;
      top: -3px;
      left: 1px;
    }
  }

  &__item-altai .tours__time-days,
  &__item-adugeya .tours__time-days {
    margin-right: 25px;

    &::before {
      left: -5px;
    }
  }

  &__time-nights {
    font-size: 12px;
    line-height: 15px;
    padding-left: 25px;

    &::before {
      width: 20px;
      height: 20px;
      top: -3px;
    }
  }

    &__title-item {
      font-size: 24px;
      line-height: 29px;
      width: 100%;
      margin: 23px 0 34px;
    }

    &__item-adugeya .tours__title-item {
       margin: 23px 0 34px;
    }

    &__parameters-title {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 2px;
    }

    &__parametres {
      &::before {
        width: 79px;
        top: -18px;
      }
    }

    &__date,
    &__counts {
      font-size: 13px;
      line-height: 21px;
    }

    &__rating {
      margin-top: 8px;
    }

    &__star {
      width: 15px;
      height: 14px;
      margin-right: 0.7px;
    }

   &__hard-block {
    margin-right: 19px;
   }

   &__date-block {
    margin-right: 18px;
   }

   &__all-tours-link {
    font-size: 16px;
    line-height: 20px;
    margin: 8px auto;
    width: 220px;
    padding-right: 20px;

    &::before {
      width: 9px;
      height: 9px;
      border-right: 2px solid #2D383F;
      border-top: 2px solid #2D383F;
      right: 2px;
      top: 5px;
    }
   }
  }
}
