$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1440px;
$montserrat: "Montserrat", "Arial", sans-serif;
$white-color: #ffffff;
$blue-color: #0266c1;
$vw-desktop: 1440;
$vw-tablet: 768;
$vw-mobile: 320;


